

<h1>Hey! This is my re-former project!</h1>

<h2>List of users:</h2>
<% i = 1%>
<% while i <= User.last.id%>

    <%= User.find(i).username if User.exists?(id: i)%><br>
    
    <% i += 1%>
<% end %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Create new user:</h2>


  <%= form_with model: @user do |form| %>
    <%= form.label :username, "Username"%> 
    <%= form.text_field :username, placeholder: "User_name2021"%> <br><br>
    <%= form.label :email, "Email"%> 
    <%= form.text_field :email, placeholder: "email@domain.com"%> <br><br>
    <%= form.label :password, "Password"%> 
    <%= form.password_field :password %> 
<br><br>
    <%= submit_tag("Submit") %>
  <% end %>
<!--
<%= form_tag("/users#create", method: "post") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email,"Email") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Search") %>
<% end %>
-->
<!--
<h2>Create new user:</h2>
<form action="/users#create" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <label for="email">E-mail:</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->

